ul {
    list-style-type: none;
}

header{
    width: 100%;
    height: 100px;
    margin-top: 3px;
    padding-top: 2px;
    border-bottom: 3px purple solid;
    color: pink;
    text-align: center;
}

.toast-container {
    font-family: sans-serif;
    margin-bottom: 0.8rem;
    display: none;
    position: relative;
    z-index: 999;
    font-size: 1.3rem;
}

.toast-container > p {
    display: none;
}

.toast {
    border: 1px #f8f9fa solid;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    min-width: 80%;
    max-width: 90%;
    text-align: center;
    padding: 4px 1em;
    box-shadow: 4px 4px 5px darkgray;
}

.toast-header {
    border-bottom: 0;
    color: darkslategray;
    height: 0.3rem;
    padding-top: 0.6rem;
}

.toast-header > strong {
    float: left;
    margin-top: 5px;
}

.toast-header small {
    padding-left: 2rem;
    font-size: 1rem;    
    vertical-align: text-top;
    color: #6c757d;
}

.toast-header button {
    border: 0;
    background-color: inherit;
    font-size: 2rem;
    color: #c2c2c2;
}

.toast-header button:hover {
    color: black;
}

.minc {
    float: right;
}

.toast-body {
    margin-top: 0.9rem;
    text-align: left;
    color: black;
    padding: 2px;
}

nav {
    float:left;
    width:250px;
    height: 700px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: red;
    margin-top: 10px;
    margin-right: 20px;
    text-align: left;
    background-color: lightcoral;
}

body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}
.main-content{flex:1;}


footer {
    background-color: green;
    width: 100%;
    height: 40px;
    border-top: 3px purple solid;
    color: white;
    font-size: 80%;
    text-align: center;
    padding-bottom: 10px;
}

body {
    display:flex;min-height:100vh;flex-direction:column;
}

.main-content {
    flex:1;
}

@media screen and (min-width:768px) {
    .toast-container {
        font-size: 1.1rem;
    }

    .toast {
        min-width: 35%;
        max-width: 40%;
    }

    .toast-header small {
        font-size: 0.7rem;
    }

    .toast-header button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1280px) {
    .toast {
        min-width: 16%;
        max-width: 24%;
    }
}