h1 {
    display: none;
}

h3 {
    font-size: 30px;
    color:#BD5B00;
    cursor: pointer;
}

h3:hover {
    font-weight: 900;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 1rem;
    font-family: cursive;
}

ul {
    list-style-type: none;
}

a {
    color: #853500;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

a.icon:hover {
    color: white;
}

nav {    
    background-color: #FFC29A;
    display: flex;
    position: fixed;
    height: 6rem;    
    width: 100%;
    justify-content: space-around;
    z-index: 900;
    text-align: center;
}

nav > div:first-child {
    padding: 2px 4px;
    display: block;
    position: fixed;
    top: 38px;
    left: 50px;
    border: 2px solid #FFF8F3;;
    border-radius: 12%;
}

nav a span {
    display: none;
}

nav > div {
    display: none;
}

.nav_logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav img {
    height: 80%;
}

.nav_links li:last-child {
    border-bottom: 0;
}

nav ul {
    padding-left: 0;
    text-align: center;
}

.nav_links li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #C54E00;
    margin: 0 20%;
}

.menu_open {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5%;
}

.menu_open > .nav_logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu_open > .nav_links {
    width: 50%;
}

.menu_open img {
    width: 30%;
    height: auto;
}

.menu_open ul {
    font-size: xx-large;
}

.notifications {
    margin-top: 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.toast-container {
    opacity: 0.7;
    font-family: sans-serif;
    margin-bottom: 0.8rem;
    display: none;
    font-size: 1.3rem;
}

.toast-container:hover {
    opacity: 1;
}

.toast-container > p {
    display: none;
}

.toast {
    border: 1px #f8f9fa solid;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    min-width: 80%;
    max-width: 90%;
    text-align: center;
    padding: 4px 1em;
    box-shadow: 4px 4px 5px darkgray;
}

.toast-header {
    border-bottom: 0;
    color: darkslategray;
    height: 0.3rem;
    padding-top: 0.6rem;
}

.toast-header > strong {
    float: left;
    margin-top: 5px;
}

.toast-header small {
    padding-left: 2rem;
    font-size: 1rem;    
    vertical-align: text-top;
    color: #6c757d;
}

.toast-header button {
    border: 0;
    background-color: inherit;
    font-size: 2rem;
    color: #c2c2c2;
}

.toast-header button:hover {
    color: black;
}

.minc {
    float: right;
}

.toast-body {
    margin-top: 0.9rem;
    text-align: left;
    color: black;
    padding: 2px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body > header {
    text-align: center;
}

body > header > img {
    margin-top: 6rem;
    width: 100%;
}

main {
    padding: 7% 6%;
    text-align: center;
}

main > section header {
    font-size: 1.5rem;
}

main > section , form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;    
}

section.payment {
    gap: 70px;
}

section#map {
    gap: 50px;
    margin-bottom: 70px;
}

section#orders {
    margin-bottom: 100px;
}

section#contactus {
    gap: 10px;
    background-color: #ce4a00;
    color: white;
    border-radius: 36px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    margin: 0 10vw;
}

section#p_data {
    gap: 50px;
    margin-bottom: 100px;
}

#contactus h2 {
    margin-top: 40px;
}

#contactus form li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contactus textarea {
    float: none;
    width: 300px;
    height: 150px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

#contactus textarea:focus-visible {
    outline: 0;
}

#contactus input:not([type="submit"]) {
    float: none;
    width: 250px;
}

#contactus [type="submit"] {    
    background-color: #ce4a00;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px;
}

iframe {
    border: 0;
    height: 450px;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 5px;
}

form {
    align-items: center;
    gap: 50px;
}

form.login {
    gap: 15px
}

form ul {
    padding-left: 0;
    text-align: left;
    min-width: 470px;
}

form li {
    margin: 20px 30px;
}

form ul > li > *, ul fieldset > * {
    padding: 0 10px;
}

form > ul > li > i {
    padding: 0;
}

.overlay form li {
    margin: 50px 30px;
}

.overlay form li:nth-last-child(2) {
    padding-bottom: 120px;
}

form.login > ul > li:first-child {
    text-align: center;
}

form.login > ul > li > fieldset {
    padding: 10px;
}

form.login > fieldset li:not(:first-child) {
    display: none;
}

.overlay form li:nth-child(2) {
    height: 54px;
}

.payment form li:last-child {
    text-align: left;
    padding: 0;
}

.overlay form li:last-child, #contactus form li:last-child {
    text-align: center;
    margin: 0;
    padding: 40px 0;
}

.overlay li div {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.overlay li div > img {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    max-width: 150px;
    max-height: 150px
}

.overlay select {
    width: 254px;
    text-align: center;
}

input:not([type="radio"], [type="submit"], [type="file"]), select {
    width: 200px;
    padding: 0;
    float: right;
}

select {
    width: 204px;
}

#m_id {
    display: none;
}

.overlay [type="text"] {
    width: 250px;
}

.overlay [type="file"] {
    width: 254px;
    padding-left: 34px;
}

textarea {
    width: 232px;
    padding: 0;
    float: right;
    height: 60px;
    resize: none;
}

#vcart.fa-plus {
    padding:14px 15px
}

fieldset {
    border: 0;
}

.payment fieldset {
    border: 1px solid;
    border-radius: 25px;
}

form .signup {
    display: none;
}

.invalid:focus-visible {
    outline-color:  red;
}

.invalid {
    border: 1px solid red;
}

.valid {
    border: 2px solid lightgreen !important;
}

.valid:focus-visible {
    outline-color: lightgreen !important;
}

legend {
    font-weight: bold;
}

main > section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section > ul {
    padding-left: 0;
}

.delivery > ul ul {
    display: none;
    justify-content: space-evenly;
    padding-left: 0;
    flex-wrap: wrap;
}

.delivery > ul ul > li {
    margin: 2% 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.delivery > ul ul > li * {
    margin: 0;
    display: none;
}

.delivery > ul ul > li > p {
    margin-bottom: 10px;
}

.delivery > ul ul > li > p:first-child {
    display: none;
}

.delivery > ul ul > li img {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

button, .overlay a, #orders + a, [type="submit"] {
    color: #BD5B00;
    background-color: white;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid;
    cursor: pointer;
    font-weight: 600;
}

button:hover, .overlay a:hover, #orders + a:hover, [type="submit"]:hover {
    color:white;
    background-color: #FFC29A;
}

.overlay a, #orders + a, [type="submit"] {
    padding: 1%;
}

#orders th, #orders td {
    width: 25%;
}

#p_data > form li:last-child {
    text-align: center;
    padding: 10px 0;
}

#vcart {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    padding: 14px;
    font-size: 24px;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.edit button {
    padding: 0.6vw;
}

.img_main_left_home > img {
    float: left;
    width: 32%;
    margin: 0 4% 4%;
    border-radius: 10px;
}

.text_main_home {
    display: block;
}

.text_main_left_home {
    margin: 0 2%;
    text-align: left;
}

.text_main_left_home > p {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;   
    margin-top: 0;
    margin-bottom: 20px;
}

main > section > :last-child {
    align-items: center;
}

main > section > header {
    margin: 0 10%;
}

main > section > :last-child > img {
    width: 80%;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 80%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 910;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.overlay > div {
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 90%;
    justify-content: space-evenly;
}

.overlay > div > button:first-child {
    position: fixed;
    border: 0;
    background-color: inherit;
    font-size: 2rem;
    color: black;
    top: 5%;
    right: 10%;
}

.overlay table {
    width: 80%;
    border-spacing: 0px;
    height: 60%;
}

th, td {
    text-align: center;
    width: 33%;
}

td > button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 !important;
}

td > .quantity {
    font-weight: 800;
    padding: 0px 4px;
}

th {
    background-color: #FFC29A;
    color: #943B00;
    height: 60px;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

footer {    
    padding: 1% 0;
    background-color: #FFF8F3;
    width: 100%;
    height: 10rem;
    color: #C24A00;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    font-size: 1rem;
    color: #C24A00;
}

footer a:hover {
    color: #ffa063d1;
}

footer > div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer > div > img {
    margin: 5% 0;
    height:  80%;
}

footer > div:last-child  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

footer > div:last-child ul {
    padding-left: 0;
}

footer > div:last-child li {
    margin: 5px;
}

@media screen and (min-width:768px) {

    
    .toast-container {
        font-size: 1.1rem;
    }
    
    .toast {
        min-width: 35%;
        max-width: 40%;
    }
    
    .toast-header small {
        font-size: 0.7rem;
    }
    
    .toast-header button {
        font-size: 1.5rem;
    }
    
    .img_main_left_home > img {
        width: 25%;
        margin: 0 3% 3%;
    }   

    .overlay form ul {
        min-width: 550px;
    }

    form ul {
        min-width: 500px;
    }
}


@media screen and (min-width:1024px) {
    
    nav {
        font-size: large;
        float: left;
        width: 20%;
        height: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    nav > div:first-child {
        display: none;
    }
    
    nav > div {
        display: block;
    }
    
    .nav_links a {
        font-size: 24px;
    }
    
    .nav_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    nav address {
        color: #853500;
        font-size: small;
        margin: 0 10%;
    }
    
    .notifications {
        width: 80%;
    }
    
    .nav_logo img {
        width: 60%;
        height: 100%;
    }
    
    .nav_contacts li {
        display: inline-block;
    }
    
    .nav_contacts a {
        font-size: 1.5rem;
    }
    
    body > header {
        margin-left: 20%;
    }
    
    body > header > img {
        margin-top: auto;
    }
    
    main {
        margin-left: 20%;
        padding: 7% 4%;
    }
    
    footer {
        margin-left: 20%;
        width: 80%;
    }
}


@media screen and (min-width:1280px) {
    
    nav {
        width: 15%;
    }
    
    .notifications {
        width: 85%;
    }
    
    .toast {
        min-width: 16%;
        max-width: 24%;
    }
    
    main > section > header {
        margin: 0 18%;
    }

    .delivery > ul ul {
        justify-content: flex-start;
        gap: 3.8vw;
    }

    .delivery > ul ul > li {
        width: 30%;
    }

    .delivery > ul ul > li img {
        height: 24vw;
        width: 24vw;
    }    
    
    body > header {
        margin-left: 15%;
    }

    main {
        margin-left: 15%;
        padding: 7% 4%;
    }

    section#contactus {
        margin: 0 20vw;
    }

    form ul {
        min-width: 550px;
    }

    figcaption {
        font-size: larger;
    }
    
    footer {
        margin-left: 15%;
        width: 85%;
    }
}